In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('bhouse.csv')
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [3]:
df.shape

(13320, 9)

In [4]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
df['balcony'] = df['balcony'].fillna(2.0)
df['bath'] = df['bath'].fillna(2.0)
df['bath'] = df['bath'].astype(int)
df['balcony'] = df['balcony'].astype(int)
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...       1   39.07
1            Plot  Area  Ready To Move  ...       3  120.00
2        Built-up  Area  Ready To Move  ...       3   62.00
3  Super built-up  Area  Ready To Move  ...       1   95.00
4  Super built-up  Area  Ready To Move  ...       1   51.00

[5 rows x 9 columns]

In [7]:
def num(x):
    try:
        float (x)
    except:
        return False
    return True

In [8]:
def convert_to_num(x):
    y=x.split(' - ') 
    if (len(y)>1):
        return (float(y[0])+float(y[1]))/2
    try:
        return float(x)
    except:
        return None

In [9]:
df['total_sqft'] = df.total_sqft.apply(convert_to_num)
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...       1   39.07
1            Plot  Area  Ready To Move  ...       3  120.00
2        Built-up  Area  Ready To Move  ...       3   62.00
3  Super built-up  Area  Ready To Move  ...       1   95.00
4  Super built-up  Area  Ready To Move  ...       1   51.00

[5 rows x 9 columns]

In [10]:
df = df.dropna(subset=['total_sqft'])
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...       1   39.07
1            Plot  Area  Ready To Move  ...       3  120.00
2        Built-up  Area  Ready To Move  ...       3   62.00
3  Super built-up  Area  Ready To Move  ...       1   95.00
4  Super built-up  Area  Ready To Move  ...       1   51.00

[5 rows x 9 columns]

In [11]:
df['size'] = df['size'].str.replace('Bedroom', '').str.replace('RK', '').str.replace('BHK', '')
df['size'] = df['size'].fillna(2)
df['size'] = df['size'].astype(int)
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...       1   39.07
1            Plot  Area  Ready To Move  ...       3  120.00
2        Built-up  Area  Ready To Move  ...       3   62.00
3  Super built-up  Area  Ready To Move  ...       1   95.00
4  Super built-up  Area  Ready To Move  ...       1   51.00

[5 rows x 9 columns]

In [12]:
df.drop([1718,4684], inplace=True)
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...       1   39.07
1            Plot  Area  Ready To Move  ...       3  120.00
2        Built-up  Area  Ready To Move  ...       3   62.00
3  Super built-up  Area  Ready To Move  ...       1   95.00
4  Super built-up  Area  Ready To Move  ...       1   51.00

[5 rows x 9 columns]

In [13]:
df['location']= df['location'].fillna('Whitefield')
df['society']= df['society'].fillna('Other')
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...       1   39.07
1            Plot  Area  Ready To Move  ...       3  120.00
2        Built-up  Area  Ready To Move  ...       3   62.00
3  Super built-up  Area  Ready To Move  ...       1   95.00
4  Super built-up  Area  Ready To Move  ...       1   51.00

[5 rows x 9 columns]

In [14]:
df=df.drop(['society', 'availability'], axis = 1)
df.head()

              area_type                  location  size  ...  bath  balcony   price
0  Super built-up  Area  Electronic City Phase II     2  ...     2        1   39.07
1            Plot  Area          Chikka Tirupathi     4  ...     5        3  120.00
2        Built-up  Area               Uttarahalli     3  ...     2        3   62.00
3  Super built-up  Area        Lingadheeranahalli     3  ...     3        1   95.00
4  Super built-up  Area                  Kothanur     2  ...     2        1   51.00

[5 rows x 7 columns]

In [15]:
dummy_cols = pd.get_dummies(df.area_type)
df = pd.concat([df,dummy_cols], axis='columns')

In [16]:
df.head()

              area_type  ... Super built-up  Area
0  Super built-up  Area  ...                    1
1            Plot  Area  ...                    0
2        Built-up  Area  ...                    0
3  Super built-up  Area  ...                    1
4  Super built-up  Area  ...                    1

[5 rows x 11 columns]

In [17]:
s=df['location'].value_counts()
s

Whitefield                         539
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     271
Thanisandra                        233
                                  ...
5th block Koramangala                1
Kathriguppe IV Phase                 1
Basnashankari,6th stage,             1
HSR Layout 7th sector,               1
beml layout, basaveshwara nagar      1
Name: location, Length: 1298, dtype: int64

In [18]:
print(len(s[s>=11]))

240

In [19]:
r = s[s<11]
df.location = df.location.apply(lambda x: 'other' if x in r else x)
len(df.location.unique())

241

In [20]:
df.head()

              area_type  ... Super built-up  Area
0  Super built-up  Area  ...                    1
1            Plot  Area  ...                    0
2        Built-up  Area  ...                    0
3  Super built-up  Area  ...                    1
4  Super built-up  Area  ...                    1

[5 rows x 11 columns]

In [21]:
dummy_cols = pd.get_dummies(df.location)
df = pd.concat([df,dummy_cols], axis='columns')

In [22]:
df.drop(['location', 'area_type'], axis='columns', inplace=True)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [23]:
df = df.drop(df[(df['total_sqft']<450)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [24]:
df = df.drop(df[(df['total_sqft']>10000)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [25]:
df = df.drop(df[(df['total_sqft']<1000) & (df['bath']>3) & (df['size']>2)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [26]:
df = df.drop(df[(df['total_sqft']<2000) & (df['bath']>5) & (df['size']>4)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [27]:
df = df.drop(df[(df['total_sqft']<600) & (df['bath']>2) & (df['size']>1)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [28]:
df = df.drop(df[(df['price']>100) & (df['total_sqft']<1000)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [29]:
df = df.drop(df[(df['price']>1000)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [30]:
df = df.drop(df[(df['total_sqft']<1000) & (df['bath']>3)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [31]:
df = df.drop(df[(df['bath']==2) & (df['size']>3)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [32]:
df = df.drop(df[(df['bath']==3) & (df['size']>4)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [33]:
df = df.drop(df[(df['total_sqft']<3000) & (df['bath']>7) & (df['size']>6)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [34]:
df = df.drop(df[(df['total_sqft']<1000) & (df['size']>2)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [35]:
df = df.drop(df[(df['bath'] == 1) & (df['size']>=2)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [36]:
df.drop([1078], inplace=True)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [37]:
df = df.drop(df[(df['bath']==6)&(df['size']<=4)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [38]:
df = df.drop(df[(df['bath']==5)&(df['size']<=3)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [39]:
df = df.drop(df[(df['bath']==7)&(df['size']<=5)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [40]:
df = df.drop(df[(df['price']>500)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [41]:
df = df.drop(df[(df['total_sqft']>4000) & (df['size']>6) & (df['bath']>6)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [42]:
df = df.drop(df[(df['bath']==4)&(df['size']==6)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [43]:
df = df.drop(df[(df['total_sqft']>4000)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [44]:
df = df.drop(df[(df['size']>6) & (df['bath']>6)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [45]:
df = df.drop(df[(df['bath']>=7)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [46]:
df = df.drop(df[(df['size']>6)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [47]:
df = df.drop(df[(df['size']==2) & (df['balcony']==3)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [48]:
df = df.drop(df[(df['size']==1) & (df['balcony']==2)].index)
df.head()

   size  total_sqft  bath  ...  Yelenahalli  Yeshwanthpur  other
0     2      1056.0     2  ...            0             0      0
1     4      2600.0     5  ...            0             0      0
2     3      1440.0     2  ...            0             0      0
3     3      1521.0     3  ...            0             0      0
4     2      1200.0     2  ...            0             0      0

[5 rows x 250 columns]

In [49]:
df.shape

(11391, 250)

In [50]:
x=df.drop(['price'], axis = 1)
y=df['price']
x.shape, y.shape

((11391, 249), (11391,))

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size =0.20, random_state = 3)

In [52]:
from sklearn.ensemble import GradientBoostingRegressor
clf=GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2, learning_rate = 0.1)
clf.fit(x_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=5,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=400,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [53]:
clf.score(x_train,y_train)

0.8503176958145254

In [54]:
clf.score(x_test,y_test)

0.7683756754012858

In [55]:
import json
columns = {
    'data_columns' : [col.lower() for col in x.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

In [56]:
import pickle
pickle.dump(clf, open('model.pkl', 'wb'))